  
.svgComp {
    padding: 10px;
    font: 10px sans-serif;
}

.lines path{
    fill:none;
    stroke: #3288bd;
}

.hists rect{
    stroke: none;
}

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.correlation path {
    fill: none;
    stroke: #d53e4f
}
.variance path {
    fill: none;
    stroke: #fc8d59
}
.skewness path {
    fill: none;
    stroke: #fee08b
}
.neigh path {
    fill: none;
    stroke: #e6f598
}
.split path {
    fill: none;
    stroke: #99d594
}
.fan path {
    fill: none;
    stroke: #3288bd
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}